.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 400px;
  widows: 100%;
  background-color: #000000;
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/diagonal-striped-brick.png");
}
.img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.name {
  display: flex;
  justify-content: center;
  color: white;
}
